*{
    padding: 0;
    margin: 0;
}
body{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.profile-picture{

    
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    border-radius: 50%;


}

.user{
    height: 30vh;
    width: 40vh;
    flex: 1;
    justify-content: space-between;
    border: 1px solid  rgb(219, 219, 219);
    margin-top: 1%;
    align-items: center;
    padding: 10px;
    margin-right: 10px;
}

.users{
    height: 90vh;
    width: 90vw;
    display: flex;
    flex-wrap: wrap;
}


.profile-picture{
    border-radius: 50%;
    height: 8vh;
    width: 8vh;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
button{
    cursor: pointer;
    background-color: transparent;
    color: rgb(0, 0, 0);
    padding: 7px 20px 7px 20px;
    border-radius: 8px;
    margin-right: 10px;
    border: 1px solid  rgb(219, 219, 219);
    margin-top: 10vh;
}