{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home-InstaGramam</title>
    <link rel="icon" href="static\images\outdoors.png">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous"></script>
    <script src="https://kit.fontawesome.com/5564fd2102.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="{% static 'css\home.css' %}">
    
</head>
<body>
    <main>
        <section class="section1 desktop" >
            <h2 id="instagramam">Instagramam</h2>
            <a href="{% url 'addpost' %}">Add Post</a>
            <a href="{% url 'addstory' %}">Add Story</a>
            <a href="{% url 'explore' %}">Explore</a>
            <a href="{% url 'comingsoon' %}">Reels</a>
            <a href="{% url 'chat' %}">Messages</a>
            <!-- <a href="{% url 'profile' user.id %}">profile</a> -->
        </section>
        <div class="buffer desktop"></div>



        <section class="section2">
            <!-- Stories -->
            <header class="stories story-container">
                {% for story in stories %}
                <a href="{% url 'story' story.id %}"><div class="story" style="background-image: url({{story.user.profile_picture}});"></div></a>
                {% endfor %}
            </header>
            
            <!-- Posts -->
            <div class="post-container">
            {% for post in posts %}
                <div class="post">

                    <a href="{% url 'profile' post.user.id %}">
                    {% if post.user.username == 'mohxmmd'%}
                        <div class="post-head"><div class="profile-pic" style="background-image: url({{post.user.profile_picture}});"></div>{{post.user}} <svg xmlns="http://www.w3.org/2000/svg" x="0px" y="0px" width="20" height="20" viewBox="0 0 48 48" style="margin-left: 10px;">
                        <polygon fill="#42a5f5" points="29.62,3 33.053,8.308 39.367,8.624 39.686,14.937 44.997,18.367 42.116,23.995 45,29.62 39.692,33.053 39.376,39.367 33.063,39.686 29.633,44.997 24.005,42.116 18.38,45 14.947,39.692 8.633,39.376 8.314,33.063 3.003,29.633 5.884,24.005 3,18.38 8.308,14.947 8.624,8.633 14.937,8.314 18.367,3.003 23.995,5.884"></polygon><polygon fill="#fff" points="21.396,31.255 14.899,24.76 17.021,22.639 21.428,27.046 30.996,17.772 33.084,19.926"></polygon>
                        </svg></div></a>
                    {% else %}
                        <div class="post-head"><div class="profile-pic" style="background-image: url({{post.user.profile_picture}});"></div>{{post.user}}</div></a>
                    {% endif %}


                    <div class="post-image" style="background-image: url({{post.image}});"></div>

                    
                    <div class="post-caption" style="height: 15vh; box-sizing: border-box;">

                        
                    <a href="{% url 'comment' post.id %}">
                        <br><p style="padding: 5px;">{{post.caption}} </p></div>
                    </a>
                    

                </div>
                {% endfor %}
            </div>


        </section>
        <section class="section3">
            <a href="{% url 'chat'%}" style="text-decoration: none; color: black;"><h2 id="instagramam">Messages</h2></a>
            <div class="msg-container">
                {% for message in messages %}
                <div class="messages">
                    <div>{{ message.user.username }} : {{ message.content }} </div> 
                </div>
                {% endfor %}
            </div>
           
                <br>
                <div class="send-message">
                <form method="post" action="{% url 'send_message' %}" class="msg">
                    {% csrf_token %}
                    <input type="text" name="content" required class="msg-box">
                    <button type="submit" class="send">Send</button>
                </div>
        </section>
    </main>


</body>
</html>